* {
  font-family: "Raleway", sans-serif;
}

.item-center {
  margin-left: auto;
  margin-right: auto;
}
body {
  height: 130vh;
}

.form-control {
  border: 0;
  border-bottom: 2px solid rgb(65, 154, 189);
}
